{% extends 'base.html.twig' %}

{% block title %}Les Ingredients{% endblock %}

{% block body %}

    <div class="mt-4 container">
    {% if not ingredients.items is same as ([]) %}
        <h1>Mes ingredients</h1>

        <a href="{{ path('ingredient_new') }}" class="btn btn-primary">Nouvel ingrédient</a>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" data-timer="10000">
                {{ message }}
            </div>
        {% endfor %}

        <div class="mt-2 count">
            <h6>il y a {{ totalIng }} ingrédients au total</h6>
        </div>


        <table class="mt-4 table table-hover">
            <thead>
                <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                    <tr class="table-primary">
                        <th scope="row">{{ ingredient.id }}</th>
                        <td>{{ ingredient.name }}</td>
                        <td>{{ ingredient.price }}</td>
                        <td>{{ ingredient.createdAt|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-4 d-flex justify-content-center navigation">
        {{ knp_pagination_render(ingredients) }}
    </div>

    {% else %}
    <h4>il n'y a pas d'ingredients</h4>
    {% endif %}

{% endblock %}
